@model PROYECTO_WEB.Models.producto

@{
    ViewBag.Title = "Delete";
}

<h2 style="color: white">ELIMINAR PRODUCTO</h2>

<h5 style="color:dimgrey">¿Quieres ELIMINAR este producto?</h5>
<div style="color:white">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Existencias
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            Estado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input type="submit" value="ELIMINAR" class="btn btn-danger" style="border-color: transparent;" />
    }
</div>
<br />
<br />
<p class="btn btn-outline-primary">
    <a href="@Url.Action("Index")" class="btn btn-link" style="text-decoration: none; color: inherit;">Volver</a>
</p>
