@model List<PROYECTO_WEB.Models.detalles_compras>
@{
    ViewBag.Title = "ReporteCPDetallesC";
}

<h2 style="color:white;">Detalles Compras</h2>

@using (Html.BeginForm("ReporteCPDetallesC_Click", "ReportesCP", FormMethod.Post))
{
    <div style="color:white;" class="form-group">
        <label>Datos del detalles de compra</label>
    </div>
    <div class="form-group d-flex justify-content-between">
        <div class="col-sm-6 d-flex">
            @Html.TextBox("id_dc", null, new { @class = "form-control", @placeholder = "ID Compra", @autocomplete = "off" })
            <button style="border-color: transparent; --bs-btn-hover-bg: #1F618D; --bs-btn-color: #1F618D;" onclick="" type="submit" name="btn_enviar" value="Buscar Cliente" class="btn btn-outline-light"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
    </div>
}

<<table class="table table-dark table-sm align-middle">
    <tr class="text-center">
        <th>
            ID
        </th>
        <th>
            CANTIDAD
        </th>
        <th>
            PRECIO
        </th>
        <th>
            PRODUCTO
        </th>
    </tr>

    @{
        if (Model.Count() != 0 || Model != null)
        {
            foreach (var item in Model)
            {
                 <tr class="text-center">
                     <td>
                         @Html.DisplayFor(modelItem => item.Id_detcom)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.cantidad)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.precio_compra)
                     </td>
                     <td>
                         @Html.DisplayFor(modelItem => item.id_producto)
                     </td>
                 </tr>
            }
        }

    }
</table>

<hr style="background-color:white;">
<div style="padding:10px; color: white; text-decoration: none;">
    <a href="@Url.Action("VistaReporteDetallesC", "ReportesCP", new { id = "pdf" })" class="btn btn-danger" style="border-color: transparent;">
        Reporte PDF
    </a>
    <a href="@Url.Action("VistaReporteDetallesC", "ReportesCP", new { id = "Excel" })" class="btn btn-success" style="border-color: transparent;">
        Reporte EXCEL
    </a>
    <a href="@Url.Action("VistaReporteDetallesC", "ReportesCP", new { id = "Word" })" class="btn btn-primary" style="border-color: transparent;">
        Reporte WORD
    </a>
</div>

