@model PROYECTO_WEB.Models.empleado

@{
    ViewBag.Title = "Edit";
}

<h2 style="color: white">EDITAR EMPLEADO</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal justify-content-center">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.id_e)

    <div class="form-group">
        @Html.LabelFor(model => model.contrasena, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF;" } })
            @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF;" } })
            @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.correo, "Correo", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF;" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.telefono, "Telefono", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF;" } })
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.estado_e, "Estado", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.estado_e, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF" } })
                @Html.ValidationMessageFor(model => model.estado_e, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.usuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2", style = "color:#FFFFFF;" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control", style = " background-color: #1F618D; border-color: transparent; color:#FFFFFF;" } })
            @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <input type="submit" value="Guardar cambios" class="btn btn-success" style="border-color: transparent;" />
    </div>
}
<br />
<br />
<p class="btn btn-outline-primary">
    <a href="@Url.Action("Index")" class="btn btn-link" style="text-decoration: none; color: inherit;">Volver</a>
</p>